<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12">
    <div class="page-header">
      <h1><%= t('title.signup') %></h1>
    </div>
    <% if flash[:success] %>
      <div class="alert alert-success">
        <%= flash[:success] %>
      </div>
    <% end %>
    <%= form_for :user, url: sessions_signup_path do |f| %>
      <div class="form-group">
        <%= f.label :name, t('label.name') %>
        <%= f.text_field :name, class: 'form-control' %>
        <% if flash[:errors] and flash[:errors].messages[:name] %>
          <% flash[:errors].messages[:name].each do |error| %>
            <small class="text-danger"><%= error %></small>
          <% end %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :email, t('label.email') %>
        <%= f.email_field :email, class: 'form-control' %>
        <% if flash[:errors] and flash[:errors].messages[:email] %>
          <% flash[:errors].messages[:email].each do |error| %>
            <small class="text-danger"><%= error %></small>
          <% end %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :password, t('label.password') %>
        <%= f.password_field :password, class: 'form-control' %>
        <% if flash[:errors] and flash[:errors].messages[:password] %>
          <% flash[:errors].messages[:password].each do |error| %>
            <small class="text-danger"><%= error %></small>
          <% end %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.button t('button.signin'), type: :submit, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
