<div class="page notifications row" ng-controller="NotificationsController">
  <div class="col-xs-12" style="height:initial;">
    <div class="page-header">
      <h1 class="notifications-title"><i class="icon"></i> Notificações</h1>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="notification-item panel panel-default" ng-repeat="notification in notifications">
      <div class="panel-heading">
        <time class="notification-item-date">
          {{getDate(notification.created_at)}} | 
          <a class="text-danger" href="javascript:void(0);" title="Apagar notificação" ng-click="deleteNotification($event, notification)">
            <i class="fa fa-trash"></i>
          </a>
        </time>
        <div class="notification-item-category clearfix {{getNotificationCategorySlug(notification.category)}}">
          <i class="icon"></i>
          {{getNotificationCategoryName(notification.category)}}
        </div>
      </div>
      <div class="panel-body">
        <div class="notification-item-content">
          <p><strong>Observações:</strong></p>
          <p class="note">{{notification.note}}</p>
        </div>
      </div>
      <div class="panel-footer">
        <a class="notification-item-option" href="javascript:void(0);" title="Responder">
          <i class="icon icon-answer"></i> Responder
        </a>
        <a class="notification-item-option" href="javascript:void(0);" title="Confirmar">
          <i class="icon icon-confirm"></i> Confirmar
        </a>
      </div>
      <div class="panel-body" style="padding:0;">
        <div class="notification-item-comments">
          <textarea class="notification-item-input form-control" placeholder="Escreva uma resposta aqui"></textarea>
          <ul class="notification-item-comments-list">
            <li class="notification-item-comments-list-item">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat nam pariatur, placeat error impedit? Non reprehenderit, maxime ea minima perspiciatis cupiditate, harum voluptatibus, magnam ducimus quos rerum, quaerat consectetur facere.</p>
            </li>
            <li class="notification-item-comment">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat nam pariatur, placeat error impedit? Non reprehenderit, maxime ea minima perspiciatis cupiditate, harum voluptatibus, magnam ducimus quos rerum, quaerat consectetur facere.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <p ng-show="notifications.length == 0">Você ainda não publicou nenhuma notificação</p>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="notification-widget panel panel-default">
      <div class="panel-body">
        <%= form_for :notification, url: '#' do |f| %>
          <h2 class="notification-widget-title">Filtrar</h2>
          <label>Tipo de notificação:</label>
          <div class="form-group">
            <div class="radio">
              <label ng-click="getAllNotifications()">
                <%= f.radio_button :category, nil, checked: true %> Todos
              </label>
            </div>
            <div class="radio">
              <label ng-click="getNotificationsByCategory(<%= Notification::CATEGORY_EXAM %>)">
                <%= f.radio_button :category, Notification::CATEGORY_EXAM %> Exame
              </label>
            </div>
            <div class="radio">
              <label ng-click="getNotificationsByCategory(<%= Notification::CATEGORY_APPOINTMENT %>)">
                <%= f.radio_button :category, Notification::CATEGORY_APPOINTMENT %> Consulta
              </label>
            </div>
            <div class="radio">
              <label ng-click="getNotificationsByCategory(<%= Notification::CATEGORY_SURGERY %>)">
                <%= f.radio_button :category, Notification::CATEGORY_SURGERY %> Cirurgia
              </label>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="notification-widget panel panel-default">
      <div class="panel-body">
        <%= form_for :notification, url: api_v1_notifications_path(format: :json), method: :post do |f| %>
          <h2 class="notification-widget-title">Buscar</h2>
          <div class="form-group">
            <%= f.label :query, 'Observação:' %>
            <%= f.text_field :query, class: 'form-control input-sm' %>
          </div>
          <div class="form-group clearfix">
            <%= f.button 'Buscar', type: :submit, class: 'btn btn-primary pull-right' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <aside class="notification-sidebar">
      <div class="notification-widget">
        <%= form_for :notification, url: '#', html: {"ng-submit": "createNotification($event)"} do |f| %>
          <%= f.hidden_field :user_id, value: @current_user.id %>
          <h2 class="notification-widget-title">Criar nova notificação</h2>
          <label class="notification-widget-subtitle">Tipo de Notificação:</label>
          <div class="form-group">
            <div class="radio">
              <label>
                <%= f.radio_button :category, Notification::CATEGORY_EXAM %> Exame
              </label>
            </div>
            <div class="radio">
              <label>
                <%= f.radio_button :category, Notification::CATEGORY_APPOINTMENT %> Consulta
              </label>
            </div>
            <div class="radio">
              <label>
                <%= f.radio_button :category, Notification::CATEGORY_SURGERY %> Cirurgia
              </label>
            </div>
            <p class="text-danger" ng-repeat="error in errors.category">
              <small>{{error}}</small>
            </p>
          </div>
          <div class="form-group">
            <%= f.label :note, 'Observação' %>
            <%= f.text_area :note, class: 'form-control input-sm' %>
            <p class="text-danger" ng-repeat="error in errors.note">
              <small>{{error}}</small>
            </p>
          </div>
          <div class="form-group">
            <%= f.button 'Criar notificação', type: :submit, class: 'btn btn-success' %>
          </div>
        <% end %>
      </div>
    </aside>
  </div>
</div>