<!DOCTYPE html>
<html ng-app="Medicinia" ng-cloak>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title><%= t('app.title') %></title>
    
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag '/vendor/angular/angular-csp.css' %>
    <%= stylesheet_link_tag '/vendor/bootstrap/dist/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag '/vendor/font-awesome/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body ng-controller="AppController">
    <%= render "layouts/header" %>
    <div class="wrapper">
      <div class="container-fluid">
        <div class="row">
          <% if @current_user %>
            <div class="col-xs-12 col-md-1">
              <%= render "layouts/sidebar" %>
            </div>
          <% end %>
          <div class="col-xs-12 <%= @current_user ? 'col-md-11' : '' %>">
            <div class="content">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <% if Rails.env.development? %>
      <%= javascript_include_tag 'http://localhost:35729/livereload.js' %>
    <% end %>

    <% if @current_user %>
      <script>
        var USER_ID = "<%= @current_user.id %>";
        var PUSHER_KEY = "<%= ENV['PUSHER_KEY']%>";
      </script>
    <% end %>
    
    <%= javascript_include_tag '/vendor/jquery/dist/jquery.min.js' %>
    <%= javascript_include_tag '/vendor/angular/angular.min.js' %>
    <%= javascript_include_tag '/vendor/bootstrap/dist/js/bootstrap.min.js' %>
    <%= javascript_include_tag '/vendor/pusher-websocket-iso/dist/web/pusher.js' %>
    <%= javascript_include_tag '/vendor/pusher-angular/lib/pusher-angular.min.js' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
